
body, html {
  background-color: white;
  padding-top: 0;
}

.paper {
  width:100%;
  border: 0;

  padding: 0;
}

.header-pic {
  float:left;
}

.profiles {
  display:none;
}

.content {
  page-break-inside:avoid; 
  page-break-after:auto;
}


.content-cat {
  color:black;
}

header p, .content-text, .work-listing p, .content-text ul li:first-child, .work-listing .highlight, .content-text.skills-listing > ul > li > .highlight {
  color:black;
}

.content-text.skills-listing > ul > li span, .subtitle {
  color:#212121;
}

.note {
  display:none;
}