@use 'reset';
@use "work-listing";

$headingIndent: 3em;
$headingColour: #212121;
$subheadingColour: #424242;

$fontWeightNormal: 300;
$fontWeightBold: 500;

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  font-family: "Open Sans";
  font-weight: $fontWeightNormal;
}

body, html {
  padding-top:2.5em;
  margin:0;
  background-color: #fafafa;
}

h1 {
  font-size: 1.4em;
}

/* Header */

header {
  width:100%;
  vertical-align: middle;
  text-align: center;
 
}

.header-content {
  display: inline-block;
}

.pic {
  margin: 0 auto;
  margin-top:-2.5em;
  
  border-radius:10em;
  height:4em;
  width:4em;
  
  border: 2px solid #e0e0e0;
  transition : all 0.5s linear;
  
}

@-webkit-keyframes wiggle {
  0%   {
    transform: rotate(0deg);
  }
  25%  {
    transform: rotate(-30deg);
  }
  50%  {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pic:hover {
  /*Webkit fix*/
  -webkit-transform: translateZ(0);
  
  cursor:pointer;
  
  -webkit-animation: wiggle 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

header {
  .header-text {
    margin-top:0.5em;
    margin-left: $headingIndent;
    margin-right: $headingIndent;
  }

  h1, .subtitle {
    text-align:center;
    font-family: "Merriweather";
    
    margin:0;
    
    color: $headingColour;
  }

  .subtitle {
    padding-top: .3em;
    font-weight:$fontWeightBold;
    color: $headingColour;
  }

  .summary {
    text-align: justify;
    padding: 0.5em 0;
  }
}

.first-name {
   font-size: 1.05em;
}

/* Information */

.paper {
  margin: 0 auto;
  margin-bottom:1em;
  
  background-color:white;
  width:60%;
  
  padding:0.5em 5em;
  
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  border-radius:3px;
}

@media(max-width:992px) {
  .paper {
    width:80%;
  }
}

/* Content Part */

.content-wrapper {
  padding-right:7.25%;
}

.content {
  display:table;
  width:100%;
  
  padding-top:1.5em;
  
  /*border-top: 1px solid #eeeeee;*/
}

.content:last-child {
  margin-bottom: 2em;
}

section h2, .content-cat {
  font-family: "Merriweather";
  font-variant:small-caps;
  font-weight:$fontWeightNormal;
  letter-spacing: 1px;
  
  color: $headingColour;
  
  font-size:0.975em;
  
  vertical-align:middle;

  width:30%;
}

h2 { 
  padding-bottom: 0.75em;
}

.duration {
  font-family: "Merriweather";
  font-variant: small-caps;
  font-weight: $fontWeightNormal;
  
  font-size: 0.75em;

  border-right: 1px solid #e0e0e0;
  padding-right: 0.2em;
}

h3 {
  font-family: Merriweather;
  padding-bottom: 0.5em;
}

.content-cat p {
  font-size:0.55em;
  font-weight:$fontWeightBold;
  
  margin-bottom:0;
}

.big-text {
  vertical-align:top;
}

#contact .content-text {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0.5em;
  padding: 0.5em 0 1em;

  .title {
    grid-column: 1;
    padding-left: $headingIndent;
  }

  .value {
    grid-column: 2;
  }
}

#education > ul > li {
  display: grid;
  grid-template: 
    "duration degree" auto
    "duration institution" auto
    / 1fr 3fr;
  grid-column-gap: 0.5em;
}
#education .degree {
  grid-area: degree;
}
#education .duration {
  grid-area: duration;
}
#education .institution {
  grid-area: institution;
}

.education-listing > .heading {
  font-weight:$fontWeightBold;
  
  margin-top:0.75em;
  margin-left:2em;
}

.education-listing > .highlight {
  margin-left:3.25em;
}

.highlight {
  transition: border .33s ease-in;
}

.profiles-listing ul li, .profiles-listing ul li:first-child {
  width:32%;
  font-weight: $fontWeightNormal;
}

section#work-history section, #education li {
  page-break-inside: avoid;
  padding-bottom: 1.2em;

  :last-child {
    padding-bottom: 0;
  }
}

section.content.education-content > div > div.content-cat {
  vertical-align: top;
}

div.content-text.skills-listing > p {
  font-family: "Open Sans";
  font-size:0.7em;
  font-weight:$fontWeightNormal;

  margin-left: 2em;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

div.content-text.skills-listing > p {
  color:$headingColour;
}

@media screen and (max-width: 600px) {
  body, html {
    padding-top: 30px;
  }

  .paper {
    width:95%;
  }

  .row div {
    display: block;
  }

  .content-cat {
    width: 100%;
  }

  .content-text ul li {
    width: 100%;
  }

  .content-text ul li:first-child {
    width: 100%;
  }
  
  .education-listing > .highlight {
    margin-left: 30px;
  }
}
